{
  "presets": ["env", "react"],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-object-rest-spread"
  ],

  "env": {
    "test": {
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties",
        "babel-plugin-webpack-alias"
      ]
    }
  }
}
